<body class="backgroundSlider">
  <div class="overlay">
    <nav>
      <div class="navbar">
        <div class="navbar-item">
          <a class="navbar-brand">+CERAMICA</a>
        </div>
        <div class="navbar-item">
          <span class="navbar-toggler-icon"></span>
        </div>
      </div>
    </nav>
    <section class="welcome-sec ">
      <h1 class="welcome-sectitle">Bienvenido - Welcome</h1>
      <div class="welcome-secdescript animate__animated animate__fadeIn">
        <h3 class="welcome-secdescript-text">Donde la cerámiaca, se hace arte.</h3>
      </div>
    </section>
  </div>
</body>
